* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

.header{
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 3%;
}

.outline{
  /* border: 1px solid rgb(0, 0, 0); */
}

hr.solid {
  border-top: 1px solid rgb(27, 27, 27);
}

hr.dsolid {
  border: 1px solid black;
}

.detailSelWid {
  width: 250px;
}

.detailSpace {
  margin-right: 103px;
}

.rowSpace {
  margin-top: 24px;
  margin-left: 40px;
}

table {
  border: 1px solid black;
}

td {
  text-align: center;
  height: 10px;
  width: 20px;
  margin-top: auto;
}

.depTableHead {
  background-color: #04AA6D;
  color: white;
}

.hidden {
  display: none;
}
