.td {
    padding: 0px;
  }

  .tableHead {
    background-color:darkcyan;
  }

  .table {
    text-align: center;
    width: 75%;
  }

.export {
  width: 10%;
  margin-left: 2%;
  float: left;
}

.center {
  text-align: center;
  padding: auto;
}