.card {
  margin: "5% auto";
  width: 70rem;
  padding: 4%;
  font-family: "robo, Arial, Helvetica, sans-serif";
  align-self: "center";
}

.btnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}

.btn {
  width: 16vw;
}

.title {
  margin: 1.5% auto;
  font-size: 2rem;
}
.registrationStatus {
  padding: 1%;
  font-weight: bold;
}
.registrationOpen {
  background-color: lightgreen;
}

.registrationClose {
  background-color: red;
}

.contactEmail {
  color: #007bff;
}
